.body {
    background-color: #212429;
}
/* header styles */
.logo-box {
    width: 243px;
    height: 106px;
    background-color: #377DFF;
    border-radius: 0px 0px 69px 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-title {
    color: #FAFAFA;
    font-size: 50px;
}
.login {
    width: 215px;
    height: 57px;
    background-color: #377DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-top: 20px;
}
.Login-box {
    font-size: 18px;
    color: #FAFAFA;
}
.li-item {
    color: #D1E0FB;
    font-size: 20px;
    margin-top: 41px;
}
.header {
    display: flex;
    max-width: 1627px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-header {
    display: flex; 
    max-width: 613px;
    width: 100%;
}
.li-item:nth-child(2) {
    margin-left: 79px;
    margin-right: 79px;
}
.li-item:nth-child(3) {
    margin-right: 79px;
}
/* section 1 styles */
.sec1-background {
    max-width: 1590px;
    width: 100%;
    height: 128px;
    border-radius: 0px 122px 0px 122px;
    background-color: #377DFF;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec1-background2 {
    background-color: #377DFF;
    max-width: 979px;
    width: 100%;
    height: 128px;
    border-radius: 0px 0px 122px 128px;
    margin-top: 170px;
}
.sec1-main-block {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
}
.box {
    max-width: 255px;
    width: 100%;
    height: 284px;
    background-color: #272A2E;
    border-radius: 5%;
}
.box-parent {
    display: flex;
    max-width: 811px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box:nth-child(4) {
    margin-top: 32px;
}
.box:nth-child(5) {
    margin-top: 32px;
}
.box:nth-child(6) {
    margin-top: 32px;
}
.circle-box{
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#2B3037;
}
.inside-box-title {
    max-width: 207px;
    width: 100%;
    height: 117px;
    height: 100%;
    margin: 0 auto;
}
.inside-box-h4 {
    margin-top: 26px;
    color: #D1E0FB;
    font-size: 20px;
}
.inside-box-paragraph {
    margin-top: 17px;
    color: #D1E0FB;
    font-size: 18px;
}
.welcome-box {
    max-width: 445px;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.start-now-button {
    width: 167px;
    height: 48px;
    background-color: #377DFF;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-box h5 {
    font-size: 18px;
    color: #D1E0FB;
    font-weight: bold;
}
.welcome-box h4 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 40px;
    color: #FAFAFA;
}
.welcome-box p {
    font-size: 20px;
    color: #FAFAFA;
}
.welcome-box div {
    margin-top: 26px;
}
.welcome-parent {
    display: flex;
    max-width: 1371px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fa-bars {
    font-size: 35px;
    color: #D1E0FB;
    margin-top: 30px;
}
.burgerbar {
    display: none;
}