.body {
    background-color: #212429;
}
/* header styles */
.logo-box {
    width: 243px;
    height: 106px;
    background-color: #377DFF;
    border-radius: 0px 0px 69px 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px #377DFF;
}
.logo-title {
    color: #FAFAFA;
    font-size: 50px;
    transition: transform .4s; 
}
.logo-title:hover {
    transform: scale(1.5); 
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
}
.login {
    width: 115px;
    height: 47px;
    background-color: #377DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-top: 20px;
}
.login:hover {
    opacity: 0.8;
}
.Login-box {
    font-size: 18px;
    color: #FAFAFA;
}
.li-item {
    color: #D1E0FB;
    font-size: 20px;
    margin-top: 41px;
    transition: transform .4s; 
}
.li-item:hover {
    transform: scale(1.5); 
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);   
    font-size: 20px;
    color: #377DFF;
}
.header {
    display: flex;
    max-width: 1627px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-header {
    display: flex; 
    max-width: 613px;
    width: 100%;
}
.li-item:nth-child(2) {
    margin-left: 79px;
    margin-right: 79px;
}
.li-item:nth-child(3) {
    margin-right: 79px;
}
/* section 1 styles */
.sec1-background {
    max-width: 1590px;
    width: 100%;
    height: 128px;
    border-radius: 0px 122px 0px 122px;
    background-color: #377DFF;
    margin-top: 100px;
    display: flex;
    margin-bottom: 30px;
}
.sec1-main-block {
    max-width: 1590px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.welcome-parent {
    max-width: 445px;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.box-parent {
    display: flex;
    max-width: 811px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
}
.welcome-box {
    max-width: 445px;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sec1-background2 {
    background-color: #377DFF;
    max-width: 979px;
    width: 100%;
    height: 128px;
    border-radius: 0px 0px 122px 128px;
    margin-top: 30px;
}
.box {
    width: 255px;
    height: 284px;
    background-color: #272A2E;
    border-radius: 5%;
}
.box:nth-child(4) {
    margin-top: 32px;
}
.box:nth-child(5) {
    margin-top: 32px;
}
.box:nth-child(6) {
    margin-top: 32px;
}
.circle-box{
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#2B3037;
    box-shadow: 0px 0px 10px 5px #377DFF;
}
.inside-box-title {
    max-width: 207px;
    width: 100%;
    height: 117px;
    height: 100%;
    margin: 0 auto;
}
.inside-box-h4 {
    margin-top: 26px;
    color: #D1E0FB;
    font-size: 20px;
}
.inside-box-paragraph {
    margin-top: 17px;
    color: #D1E0FB;
    font-size: 18px;
}
.start-now-button {
    width: 167px;
    height: 48px;
    background-color: #377DFF;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #377DFF;
}
.start-now-button:hover {
    opacity: 0.8;
}
.welch5 {
    font-size: 18px;
    color: #D1E0FB;
    font-weight: bold;
}
.welch4 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 40px;
    color: #FAFAFA;
}
.welcp {
    font-size: 20px;
    color: #FAFAFA;
}
.welcome-parent div {
    margin-top: 26px;
}
.fa-bars {
    font-size: 35px;
    color: #D1E0FB;
    margin-top: 30px;
}
.burgerbar {
    display: none;
}
/* section 2 styles */
.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec2-right-block {
    max-width: 492px;
    width: 100%;
    height: 517px;
    background-color: #272A2E;
    align-items: center;
    position: relative;
    border-radius: 5%;
    margin-top: 40px;
    margin-left: 150px;
}
.sec2man {
    position: absolute;
    max-width: 478px;
    width: 100%;
    height: 574px;
    bottom: 0px;
}
.sec2border {
    max-width: 1590px;
    width: 100%;
    height: 128px;
    border-radius: 122px 122px 0px 0px;
    background-color: #377DFF;
    margin-top: 100px;
    display: flex;
    margin-bottom: 30px;
}
.sec2-left-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    max-width: 564px;
    width: 100%;
}
.sec2-left-block-inblock {
    display: flex;
    max-width: 564px;
    width: 100%;
    justify-content: space-between;
}
.sec2h4 {
    font-size: 28px;
    color: #D1E0FB;
    font-weight: bold;
    border: 1px solid #dadada;
    border-radius: 20%;
    outline: none;
    border-color: #377DFF;
    box-shadow: 0px 0px 30px #377DFF;
}
.sec2h5 {
    margin-top: 23px;
    margin-bottom: 37px;
    font-size: 40px;
    color: #FAFAFA;
}
.sec2p {
    margin-bottom: 16.5px;
    font-size: 20px;
    color: #FAFAFA;
}
.pr1 {
    font-size: 55px;
    color: #377DFF;
    font-weight: bold;
}
.pr2 {
    font-size: 20px;
    font-weight: bold;
    color: #D1E0FB;
}
/* section 3 styles */
.section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.sec3border {
    max-width: 1590px;
    width: 100%;
    height: 128px;
    border-radius: 25px 25px 165px 165px;
    background-color: #377DFF;
    margin-top: 100px;
    display: flex;
    margin-bottom: 30px;
}
.sec3man {
    position: absolute;
    max-width: 478px;
    width: 100%;
    height: 574px;
    bottom: 0px;
}
.sec3-left-block {
    max-width: 492px;
    width: 100%;
    height: 517px;
    background-color: #272A2E;
    align-items: center;
    position: relative;
    border-radius: 5%;
    margin-top: 40px;
}
.sec3-right-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    max-width: 564px;
    width: 100%;
}
.sec3h5 {
    font-size: 28px;
    color: #D1E0FB;
    font-weight: bold;
    border: 1px solid #dadada;
    border-radius: 20%;
    outline: none;
    border-color: #377DFF;
    box-shadow: 0px 0px 30px #377DFF;
}
.sec3h4 {
    margin-top: 23px;
    margin-bottom: 37px;
    font-size: 40px;
    color: #FAFAFA;
}
.sec3p {
    margin-bottom: 16.5px;
    font-size: 20px;
    color: #FAFAFA;
}
.slack-box {
    width: 205px;
    height: 84px;
    background-color: #377DFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px #377DFF;
}
.segment-box {
    width: 205px;
    height: 84px;
    background-color: #707070;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #707070;
}
.salesforce-box {
    margin-top: 15px;
    width: 205px;
    height: 84px;
    background-color: #707070;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #707070;
}
.jira-box {
    margin-top: 15px;
    width: 205px;
    height: 84px;
    background-color: #707070;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #707070;
}
.sec3-boxes {
    display: flex;
    max-width: 420px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-hover {
    transition: transform .4s; 
}
.box-hover:hover {
    transform: scale(1.2); 
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.sec3-background2 {
    background-color: #377DFF;
    max-width: 979px;
    width: 100%;
    height: 128px;
    border-radius: 25px 25px 165px 165px;
    margin-top: 30px;
}
/* section 4 styles */
.section-4 {
    padding-top: 179px;
    max-width: 1178px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.upper-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.down-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1189px;
    justify-content: center;
    width: 100%;
}
.sec4h5 {
    font-size: 28px;
    color: #D1E0FB;
    font-weight: bold;
}
.sec4h4 {
    margin-top: 23px;
    margin-bottom: 37px;
    font-size: 40px;
    color: #FAFAFA;
}
.sec4p {
    margin-bottom: 16.5px;
    font-size: 20px;
    color: #FAFAFA;
}
.sec4-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 378px;
    width: 100%;
    align-items: center;
}
.sec4-box-h4 {
    margin-left: 27px;
    font-size: 25px;
    font-weight: bold;
    color: #FAFAFA;
}
.sec4-box-p {
    margin-left: 77px;
    font-size: 20px;
    color: #D1E1FB;
    width: 282px;
    height: 139px;
}
/* footer styles */
.footer {
    max-width: 1920px;
    width: 100%;
    height: 417px;
    background-color: #202328;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.social {
    color: #707070;
    font-size: 30px;
    transition: transform .4s; 
}
.footer-h4 {
    color: #FAFAFA;
    font-size: 35px;
}
.footer-p {
    color: #D1E0FB;
    font-size: 20px;
    max-width: 371.5px;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 29px;
}
.footer-h5 {
    font-size: 25px;
    margin-bottom: 44px;
    color: #FAFAFA;
}
.footer-li-item {
    font-size: 20px;
    color: #D1E0FB;
}
.footer-li-item:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-li-item:nth-child(4) {
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-ul {
    max-width: 917px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-title {
    text-align: center;
    margin-right: 100px;
}
.social:hover {
    box-shadow: 0px 0px 5px 2px #377DFF;
    transform: scale(1.2); 
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);   
    color: #377DFF;
}
.social:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}
.footer-li-item:hover {
    cursor: pointer;
    color: #377DFF;
}
 /* sign in styles */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 *
 {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
.login-body
 {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background: #23242a;
     justify-content: space-between;
     align-items: center;
 }
 .loginbox 
 {
     position: relative;
     width: 380px;
     height: 420px;
     background: #1c1c1c;
     border-radius: 8px;
     overflow: hidden;
     margin-bottom: 300px;
 }
 .loginbox::before 
 {
     content: '';
     z-index: 1;
     position: absolute;
     top: -50%;
     left: -50%;
     width: 380px;
     height: 420px;
     transform-origin: bottom right;
     background: linear-gradient(0deg,transparent,#377DFF,#377DFF);
     animation: animate 6s linear infinite;
 }
 .loginbox::after 
 {
     content: '';
     z-index: 1;
     position: absolute;
     top: -50%;
     left: -50%;
     width: 380px;
     height: 420px;
     transform-origin: bottom right;
     background: linear-gradient(0deg,transparent,#377DFF,#377DFF);
     animation: animate 6s linear infinite;
     animation-delay: -3s;
 }
 @keyframes animate 
 {
     0%
     {
         transform: rotate(0deg);
     }
     100%
     {
         transform: rotate(360deg);
     }
 }
 form 
 {
     position: absolute;
     inset: 2px;
     background: #28292d;
     padding: 50px 40px;
     border-radius: 8px;
     z-index: 2;
     display: flex;
     flex-direction: column;
 }
 .loginformh2 
 {
     color: #377DFF;
     font-weight: 500;
     text-align: center;
     letter-spacing: 0.1em;
     font-size: 25px;
 }
 .inputBox 
 {
     position: relative;
     width: 300px;
     margin-top: 35px;
 }
 .inputBox input 
 {
     position: relative;
     width: 100%;
     padding: 20px 10px 10px;
     background: transparent;
     outline: none;
     box-shadow: none;
     border: none;
     color: #23242a;
     font-size: 1em;
     letter-spacing: 0.05em;
     transition: 0.5s;
     z-index: 10;
 }
 .inputBox span 
 {
     position: absolute;
     left: 0;
     padding: 20px 0px 10px;
     pointer-events: none;
     font-size: 1em;
     color: #8f8f8f;
     letter-spacing: 0.05em;
     transition: 0.5s;
 }
 .inputBox input:valid ~ span,
 .inputBox input:focus ~ span 
 {
     color: #377DFF;
     transform: translateX(0px) translateY(-34px);
     font-size: 0.75em;
 }
 .inputBox i 
 {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background: #377DFF;
     border-radius: 4px;
     overflow: hidden;
     transition: 0.5s;
     pointer-events: none;
     z-index: 9;
 }
 .inputBox input:valid ~ i,
 .inputBox input:focus ~ i 
 {
     height: 44px;
 }
 .links 
 {
     display: flex;
     justify-content: space-between;
 }
 .links a 
 {
     margin: 10px 0;
     font-size: 0.85em;
     color: #8f8f8f;
     text-decoration: beige;
 }
 .links a:hover, 
 .links a:nth-child(2)
 {
     color: #377DFF;
 }
 input[type="submit"]
 {
     border: none;
     outline: none;
     padding: 11px 25px;
     background: #377DFF;
     cursor: pointer;
     border-radius: 4px;
     font-weight: 600;
     width: 100px;
     margin-top: 10px;
 }
 input[type="submit"]:active 
 {
     opacity: 0.8;
 }
