@media (max-width: 1273px) {
    .welcome-parent {
        justify-content: center;
    }
}
@media (max-width: 781px) {
    .box:nth-child(3) {
        margin-top: 32px;
    }
    .box {
        width: 45%;
    }
}
@media (max-width: 526px) {
    .box:nth-child(2) {
        margin-top: 32px;
    }
    .box {
        width: 255px;
    }
    .box-parent {
        justify-content: center;
    }
    .logo-box {
        width: 153px;
        height: 106px;
    }
    .login {
        width: 105px;
    }
    .sec2-left-block-inblock {
        flex-direction: column;
    }
    .topbot {
        margin-top: 30px;
    }
    .bottop {
        margin-top: 30px;
    }
    .footer-title {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .account {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .home {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .footer-ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 985px) {
    .navi {
        display: none;
    }
    .burgerbar {
        display: block;
    }
    .box-parent {
        margin-left: 0px;
    }
}
@media (max-width: 1421px) {
    .box-parent {
        margin-left: 0px;
    }
}
@media (max-width:1222px) {
    .sec2-right-block {
        margin-left: 0px;
        margin-top: 70px;
    }
}
@media (max-width:427px) {
    .sec3-boxes {
        justify-content: center;
    }
    .segment-box {
        margin-top: 15px;
    }
}